*{margin: 0;
    padding: 0;
    border: 0;}
/* .flex-container{display: flex;
justify-content: space-between;} */

.top-menu{
     display: none; 
    padding: 0.5em;
    border: solid 1px black;
    background-color: white;
    clear:right;
}
h2 style{
    clear: right;
}
.banner{
    background-image: url(images/gangsta-spongbob.png);
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2em 0;
}
.bannert{
    background-image: url(images/open_house_2023.webp);
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2em 0;
}

p h1 h2 h3 h4{
    margin-bottom: 2em;
}
.containerr{
    background-color: aliceblue;
    margin: 40px 0:
}
.banner a{
    color:white;
    text-decoration: none;
    font-size: larger;
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(0,0,0,0)
}
.top-menu ul{
    list-style-type: none;
}
body{font-family:sans-serif;}
h1{font-size: 1.5em;
    line-height: 1em;
}
li.dropdown{
    border-bottom: solid 1px black;
}
.dropdown ul{
    display: none;
}
li.dropdown:hover ul{
    display: block;
}
.dropdown a{
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
    background-color:aquamarine;
    
}
.dropdown li a{
    color:rgb(95, 86, 86);
    background-color:bisque;
}
.dropdown li a:hover{
    background-color: rgb(202, 202, 202);
}
.larger-text{
    font-size:larger;
}
.img-responsive{
    width: 100%;
}
input{
    border: solid 1px black;
    padding: 0.2em;
}
.float-right{
    float:right;
}
/* Media Query*/
@media (min-width:760px){
.program-nav ul{display:flex;
justify-content: space-between;}

/*.program-nav li{width:30%;
    position:relative;
}
.program-nav li li{
    width:100%;*/
.dropdown{
    position: relative;
    width: 30%;
    border-radius:5px;
    padding: 5px;
}

.dropdown ul{
    display: block;
    position: absolute;
    background-color:aliceblue;
    border: solid 1px #000;}

main{display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 2em;}
.news{grid-column-start: 1;
    grid-column-end: 4;
}
.event{
    grid-column-start: 4;
}
}